h1 {
    text-align: center;
}

.container {
    width: 250px;
    min-height: 50px;
    padding: 20px;
    border: 1px solid grey;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

img {
    margin: 0 auto;
    width: 70%;
}

#count {
    font-weight: bold;
    font-size: 30px;
}

.container p {
    text-align: center;
}

button {
    border: 1px solid purple;
    border-radius: 5px;
    background: purple;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    border: 1px solid rgb(54, 4, 54);
    background: rgb(54, 4, 54);
}